<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982761004749-2155jlf9os3ghj76oup45hhh505dr26a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982761004749-2155jlf9os3ghj76oup45hhh505dr26a</string>
	<key>API_KEY</key>
	<string>AIzaSyAm_A1-n8TANo1JODRgozSiu3AEe7yKbqI</string>
	<key>GCM_SENDER_ID</key>
	<string>982761004749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nyit.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-c2b86</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-c2b86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982761004749:ios:05d2d6e1496e6afce89384</string>
</dict>
</plist>